.ill-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.ill-container img {
    object-fit: cover;
    transform: translateY(-100px);
}

@media (max-width: 900px) {
    .ill-container {
        grid-template-columns: repeat(1, 1fr);
    }
}