.sidebar {
    height: calc(100vh - 52px);
    min-width: 200px;
    max-width: 200px;
    margin: 26px 28px 26px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
}

.sidebar-space {
    height: 100vh;
    min-width: 228px;
    max-width: 228px;
}

@media (max-width: 968px) {
    .sidebar, .sidebar-space {
        display: none;
    }
}

.box1 {
    height: 97.5%;
    background-color: var(--color-gray);
    padding: 14px 0 14px 14px;
    border: 2px solid var(--color-light-gray);
    box-shadow: 0 4px 4px var(--color-box-shadow);
}

.bottom-decoration {
    height: 2%;
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    box-shadow: 0 4px 4px var(--color-box-shadow);
}

.box2 {
    flex-grow: 6;
    height: 100%;
    background-color: var(--color-light-gray);
    display: inline-block;
}

.box3 {
    flex-grow: 1;
    height: 100%;
    background-color: var(--color-extra-light-gray);
    display: inline-block;
}

.sidebar li {
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.sidebar li:not(.selected) {
    color: var(--color-sidebar-text);
}

.sidebar li:not(.selected):hover {
    color: var(--color-sidebar-text-hover);
}

.selected {
    color: var(--color-primary);
    text-shadow: 0 4px 4px var(--color-box-shadow);
}

.li-separation {
    height: 40px;
}